In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
train = ['call you tonight', 'Call me a cab', 'Please call me... PLEASE!']

count_vect = CountVectorizer()
ngram_vect = CountVectorizer(ngram_range=(2,2))
tfidf_vect = TfidfVectorizer() 

count_vect.fit(train)
tfidf_vect.fit(train)
ngram_vect.fit(train)

print(f"unigram get_feature_names \t {count_vect.get_feature_names()}")
print(f"bigram get_feature_names \t {ngram_vect.get_feature_names()}")

count_dtm = count_vect.transform(train)
ngram_dtm = ngram_vect.transform(train)
tfidf_dtm = tfidf_vect.transform(train)

display(pd.DataFrame(count_dtm.toarray(), columns=count_vect.get_feature_names()))  # one row per document and one column per token
display(pd.DataFrame(ngram_dtm.toarray(), columns=ngram_vect.get_feature_names()))
display(pd.DataFrame(tfidf_dtm.toarray(), columns=tfidf_vect.get_feature_names()))

unigram get_feature_names 	 ['cab', 'call', 'me', 'please', 'tonight', 'you']
bigram get_feature_names 	 ['call me', 'call you', 'me cab', 'me please', 'please call', 'you tonight']

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

   call me  call you  me cab  me please  please call  you tonight
0        0         1       0          0            0            1
1        1         0       1          0            0            0
2        1         0       0          1            1            0

        cab      call        me    please   tonight       you
0  0.000000  0.385372  0.000000  0.000000  0.652491  0.652491
1  0.720333  0.425441  0.547832  0.000000  0.000000  0.000000
2  0.000000  0.266075  0.342620  0.901008  0.000000  0.000000